@model MVC.Models.ReservaModelAndView
@{
    ViewBag.Title = "reserva";
    Layout = "~/Views/Shared/_base.cshtml";
}


<div id="pasito" class="visualizacionNone" >@Model.paso </div>
<div class="col-md-offset-0 col-md-12 formularioReserva" >
    <div class="text-center ">
        <h2>Reserva</h2>
    </div>
    <div class="text-center">
        <span id="progreso" class="progreso">0%</span>
    </div>
  

    <!-- ______________________________________________version ______________________________________________________________  -->
   <form id="paso1" method="post" action="/Peliculas/reservaPaso2" class="visualizacionNone" >


        <div class="form-group col-md-6 col-md-offset-3" >
            <h3>Version</h3>

            <div class="col-md-12">

                <select name="versionPaso1" id="version" class="form-control">
                    <option value="0">Seleccione...</option>
                    @foreach (var version in Model.listadoDeVersionesReservaModel)
                    {
                        <option value="@version.IdVersion">@version.Nombre</option>

                    }
                </select>
                <input type="hidden" name="peliculaPaso1" value="@Model.idPeliculaReservaModel" />
            </div>
            <div col-md-4>

                <input type="submit" class="btn bg-info btn-block" value="siguiente" />

            </div>
            <div id="mensaje1" class="mensajeError col-md-12">Seleccione una version</div>


        </div>

    </form>
    <!-- ______________________________________________sede______________________________________________________________  -->
    <form id="paso2" method="post" action="/Peliculas/reservaPaso3" class="visualizacionNone" >



        <div class="form-group col-md-6 col-md-offset-3">
            <h3>Sede</h3>
            <select name="sedePaso2" class="form-control" id="sede">
                <option value="0">Seleccionar sede</option>
                @foreach (var sede in Model.listadoDeSedesReservaModel)
                {
                    <option value="@sede.IdSede">@sede.Nombre</option>
                }
            </select>
            <!--campos a ocultar-->
            <input type="hidden" name="versionPaso2" value="@Model.idVersionReservaModel" />
            <input type="hidden" name="peliculaPaso2" value="@Model.idPeliculaReservaModel" />
            <div>
                <!--<input type="button" id="botonAnterior1" class="btn bg-warning col-md-6" value="anterior" />-->
                <input type="submit" id="botonSiguiente2" class="btn bg-info col-md-6" value="siguiente" />
            </div>
            <div id="mensaje2" class="mensajeError col-md-12">Seleccione una Sede</div>
        </div>
    </form>
    <!-- ______________________________________________dia______________________________________________________________  -->
    <div class="btn-danger"> @ViewBag.errorReserva</div>
    <form id="paso3" method="post" action="/Peliculas/reservaPaso4" class="visualizacionNone" >


        <div class="form-group col-md-6 col-md-offset-3">
            <h3>Dia</h3>
            <select class="form-control" id="dia" name="diaPaso3">

                <option value="0">Seleccionar dia</option>
                @foreach (var dia in Model.listadoDeDiasReservaModel)
                {
                    <option value="@dia">@dia</option>
                }
            </select>

            <div>
                <!--campos a ocultar-->
                <input type="hidden" name="versionPaso3" value="@Model.idVersionReservaModel" />
                <input type="hidden" name="peliculaPaso3" value="@Model.idPeliculaReservaModel" />
                <input type="hidden" name="idSedePaso3" value="@Model.idSedeReservaModel" />

                <!-- <input type="button" id="botonAnterior2" class="btn bg-warning col-md-6" value="anterior" />-->
                <input type="submit" id="botonSiguiente3" class="btn bg-info col-md-6" value="siguiente" />
            </div>
            <div id="mensaje3" class="mensajeError col-md-12">Seleccione un dia</div>
        </div>
    </form>
    <!-- ______________________________________________horario______________________________________________________________  -->
    <form id="paso4" method="post" action="/Peliculas/reserva2" class="visualizacionNone" >



        <div class="form-group col-md-6 col-md-offset-3">
            <h3>Horario</h3>
            <!-- <select class="form-control" id="horario" name="horario"> !-->
            <!--No se esta parte-->
            <!-- <option value="0">Seleccionar hora</option>
                foreach (var funcion in Model.listadoDeFunciones)
                {
                    <option value="funcion.horaFuncionModel">funcion.numeroFuncionModel Funcion : funcion.horaFuncionModel</option>
                }
            </select> !-->

            <!-- VER CÓMO MANDA EL VALUE LA HORA DE LA FUNCIÓN A RESERVAS -->

            <select class="form-control" id="horario" name="horario">
                <option value="0">Seleccionar hora</option>
               
               @foreach (var funcion in Model.listadoDeFunciones)
               {
                   TimeSpan horario = TimeSpan.FromMinutes(Convert.ToInt32(funcion.horaFuncionModel));

    
                   
                   //TimeSpan horario = TimeSpan.FromMinutes(Convert.ToInt32(funcion.horaFuncionModel));
                   if (Model.estaDisponibleLaFuncion(horario.Hours.ToString(), horario.Minutes.ToString(), Model.diaDeReservaReservaModel.ToString()) == true)
                   {
                        <option value="@funcion.horaFuncionModel"> Función @funcion.numeroFuncionModel - @horario.Hours  : @horario.Minutes </option>
                   }
                   else
                   {
                    <option value="" class="text-danger"> Función @funcion.numeroFuncionModel - @horario.Hours  : @horario.Minutes Agotada </option>

                   }

               }
            </select>

            <div id="mensaje4" class="mensajeError col-md-12">Seleccione un horario</div>
            <div>
                <!--<input type="button" id="botonAnterior3" class="btn bg-warning btn-block" value="anterior" />-->

            </div>
            <div id="mensaje3" class="mensajeError col-md-12">Seleccione un dia</div>
        </div>
        <input type="hidden" name="versionPaso4" value="@Model.idVersionReservaModel" />
        <input type="hidden" name="peliculaPaso4" value="@Model.idPeliculaReservaModel" />
        <input type="hidden" name="idSedePaso4" value="@Model.idSedeReservaModel" />
        <input type="hidden" name="diaPaso4" value="@Model.diaDeReservaReservaModel" />



        <input type="submit" id="reservaBotonEnviar" value="Continuar con la reserva" class="btn btn-success col-md-offset-10" />
    </form>

</div>

