@model MVC.Models.PeliculaModelAndView
@{
    ViewBag.Title = "agregarPelicula";
    Layout = "~/Views/Shared/_AdministradorBase.cshtml";
}

<div class="col-md-offset-3 col-md-6">
    <hr />
    <div class="btn btn-xs btn-default">
        @Html.ActionLink("Volver", "peliculas")
    </div>
    <div class="text-center"><h3>Agregar una pelicula</h3></div>
    <div>
        <form action="agregarPelicula" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="" class="control-label">Nombre</label>
                <div>
                    <input type="text" class="form-control" name="nombrePeliculaModel" />
                    @Html.ValidationMessageFor(x => x.nombrePeliculaModel)
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Descripción</label>
                <div>
                    <textarea class="form-control" name="descripcionPeliculaModel"></textarea>
                    @Html.ValidationMessageFor(x => x.descripcionPeliculaModel)
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Calificación</label>
                <div>
                    <select name="idCalificacionPeliculaModel" class="form-control">
                        @foreach (var calificacion in Model.listadoDeCalificaciones)
                        {
                            <option value="@calificacion.IdCalificacion" name="idCalificacionPeliculaModel"> @calificacion.Nombre</option>
                        }

                        
                        
                    </select>
                    @Html.ValidationMessageFor(x => x.idCalificacionPeliculaModel)
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Género</label>
                <div>
                    <select name="idgeneroPeliculaModel" class="form-control">
                        @foreach (var genero in Model.listadoDeGeneros)
                        {
                            <option value="@genero.IdGenero" name="idgeneroPeliculaModel"> @genero.Nombre</option>
                        }

                      
                    </select>
                    @Html.ValidationMessageFor(x => x.idgeneroPeliculaModel)
                </div>
            </div>
          
            <div class="form-group">
                <label for="" class="control-label" >Imagen</label>
                <div>
                    <input type="file" name="imagenPelicula" id="imagenPelicula" value="ver esto.png"/>
                    @Html.ValidationMessageFor(x => x.imagenPeliculaModel)
                </div>
            </div>
           
            <div class="form-group">
                <label for="" class="control-label">Duración</label>
                <div>
                    <input type="text" class="form-control" name="duracionPeliculaModel"  />
                    @Html.ValidationMessageFor(x => x.duracionPeliculaModel)
                </div>
            </div>
            <input type="submit" class="btn btn-block btn-success" value="Agregar película" />
        </form>
        <div class="text-center alert-danger"> <h4>@ViewBag.errorPelicula</h4></div>
    </div>
</div>

