@model MVC.Models.PeliculaModelAndView
@{
    ViewBag.Title = "peliculas";
    Layout = "~/Views/Shared/_AdministradorBase.cshtml";
}

<div>
    <div class="text-center"><h3>Mis peliculas</h3></div>
    <div class="text-center alert-danger"> <h4>@ViewBag.ErrorPelicula</h4></div>
    <table class="table ">
        <thead>
            <tr class="success">
                <th>Fecha de carga</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Calificación</th>
                <th>Género</th>
                <th>Duración</th>

                <th>
                    <a href="/Administracion/agregarPelicula">
                        <input type="button" class="btn bn-block btn-success col-md-12" value="Nueva" />
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.listadoDePeliculas)
            {
                <tr class="warning">
                    <td>@p.FechaCarga</td>
                    <td><img src="~/ImagenesDelServidor/@p.Imagen" alt="Imagen de la pelicula" width="75" height="75" /> </td>
                    <td class="col-md-2"> @p.Nombre </td>
                    <td class="col-md-2"> @p.Descripcion </td>
                    <td class="col-md-2"> @p.Calificaciones.Nombre </td>
                    <td class="col-md-2"> @p.Generos.Nombre </td>
                    <td class="col-md-2"> @p.Duracion  </td>

                </tr>
            }
        </tbody>


    </table>

</div>
