@model MVC.Models.ReservaModelAndView
@{
    ViewBag.Title = "reportes";
    Layout = "~/Views/Shared/_AdministradorBase.cshtml";
}

<script>
    $(function () {
        $(".datepicker").datepicker();
    });
   
 

</script>


<div class="text-center"><h2>Reportes</h2></div>

<div class="col-md-6">
    <div class="text-center"><h3>Buscas reservas</h3></div>
    <div>
        <form class="form" method="post" action="/Administracion/reportesFiltrar">
            <div class="form-group">
                <label for="" class="control-label ">Fecha desde</label>
                <div>
                    <input type="date" class="form-control " id="fechaInicio" name="fechaDesdeReporteModel" autocomplete="off" />
                </div>
                
            </div>
            <div class="form-group">
                <label for="" class="control-label">Fecha hasta</label>
                <div>
                    <input type="date" class="form-control "  id="fechaHasta"  name="fechaHastaReporteModel" autocomplete="off" />
                </div>
            </div>
            <input type="submit" value="Buscar" class="btn btn-block btn-success"/>

        </form>
    </div>
</div>
 <div class="col-md-6">
    <div class="text-center"><h3>Reportes de reservas</h3></div>
    <table class="table ">

        <thead>

            <tr class="success">
                <th> ID </th>
                <th>Sede</th>
                <th>Versión</th>
                <th>Nombre de la película</th>
                <th>Precio</th>
                
            </tr>
        </thead>
        <tbody>

            @foreach (var reserva in Model.listadoDeReservasReporteModel)
            {
                <tr class="warning"> 
                    <td class="col-md-2"> @reserva.IdReserva </td>
                    <td class="col-md-2">@reserva.Sedes.Nombre</td>
                    <td class="col-md-2">@reserva.Versiones.Nombre</td>
                    <td class="col-md-2">@reserva.Peliculas.Nombre</td>
                    <td class="col-md-2">@reserva.Sedes.PrecioGeneral</td>
                </tr>
            }

        </tbody>

        
    </table>
</div>
