@model MVC.Models.HomeModelAndView
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_base.cshtml";
}

@section librerias{
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    }

@section cabezeraAdmin
{
    <div class="well">
        <div class="text-right"> <a class="alert-link" href="/Home/login">Administración</a></div>
    </div>    
}



<script>
    function enviarFormulatio(idFormulario) {
        $("#formReservaHome-"+ idFormulario).submit();
    }

</script>



<div class="container-fluid">
    
    @if (TempData["Mensaje"] != null)
    {
        <h4> @TempData["Mensaje"] </h4>
    }
        
    <!-- coarousel-->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           @for (int i = 1; i < Model.listadoDePeliculasHome.ToArray().Length; i++)
           {
            <li data-target="#myCarousel" data-slide-to="i"></li>
           }
           
           
            
           
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner ">
            
           @foreach (var pelicula in @Model.listadoDePeliculasHome)
           {
            <div class="item active imgSlider">
                <img src="~/ImagenesDelServidor/@pelicula.Imagen" alt="ImagenPelicula">
                <div class="carousel-caption">
                    <p>Genero : @pelicula.Generos.Nombre </p>
                    <div>
                        @for (int i = 0; i < 5; i++)
                        {

                        <div class="col-md-2  ">
                           <p class="estrella col-md-4"><img src="http://vignette1.wikia.nocookie.net/creepypasta/images/5/5e/Estrella.png/revision/latest?cb=20140413180434&path-prefix=es" /></p> 
                        </div>
                        }
                    </div>
                </div>
            </div>

           }
           
            

            
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- FIN carro -->

    <!-- lista de pelis del medio-->
    <div class="col-md-offset-3 col-md-6 listaDePeliculas">
     @foreach (var pelicula in @Model.listadoDePeliculasHome)
     {

        <form action="/Peliculas/reserva" method="post" id="formReservaHome-@pelicula.IdPelicula">
            <input id="idPeliculaHome"  name="idPeliculaHome" value="@pelicula.IdPelicula"  type="hidden"/>

            <div class="col-md-4 " onclick="enviarFormulatio(@pelicula.IdPelicula)">
                <div class="imgYDescripcion">
                    <img src="~/ImagenesDelServidor/@pelicula.Imagen" alt="Imagen de la pelicula">
                    <div class="descripcionPelicula">
                        <h3>@pelicula.Nombre</h3>
                        <p class="textoDescripcion">Genero : @pelicula.Generos.Nombre </p>
                        <p class="textoDescripcion text-center"> @pelicula.Calificaciones.Nombre Estrellas</p>
                        <!--
                  <div>
                      for (int i = 0; i < 5; i++)
                      {

                          <div class="col-md-2 success ">
                              :)
                          </div>
                      }
                    </div>
                      -->

                    </div>
                </div>
            </div>
        </form>
       


     }

        
        <!--eliminar-->
       


       <!--fin eliminar-->
   </div>
     <!--FIN lista de pelis del medio-->

    


</div>