@model MVC.Models.HomeModelAndView
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_base.cshtml";
}

@section librerias{

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
}

@section cabezeraAdmin
{
    <div class="well">
        <div class="text-right">
            <a href="/Home/login">
                <input type="button" class="btn bg-info" value="Administración" />
            </a>
        </div>
    </div>
}

<html>
<head>
    <script type="text/javascript" src="~/Js/Eventos.js"></script>
</head>
<body>
    <div class="container-fluid">

        @if (TempData["Mensaje"] != null)
        {
            <h4> @TempData["Mensaje"] </h4>
        }

    </div>
    <div class="text-center alert-success">
        @TempData["ReservaOK"]
    </div>
    <!-- lista de pelis del medio -->
    <div class="col-md-offset-3 col-md-6 listaDePeliculas">
        @foreach (var pelicula in @Model.listadoDePeliculasHome)
            {

            <form action="/Peliculas/reserva" method="post" id="formReservaHome-@pelicula.IdPelicula">
                <input id="idPeliculaHome" name="idPeliculaHome" value="@pelicula.IdPelicula" type="hidden" />
                <div class="col-md-4 " onclick="enviarFormulatio(@pelicula.IdPelicula)">
                    <div class="imgYDescripcion">
                        <img src="~/ImagenesDelServidor/@pelicula.Imagen" alt="Imagen de la pelicula">
                        <div class="descripcionPelicula">
                            <h3>@pelicula.Nombre</h3>
                            <p class="textoDescripcion">Genero : @pelicula.Generos.Nombre </p>
                            <p class="textoDescripcion text-center"> @pelicula.Calificaciones.Nombre </p>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
    <!--FIN lista de pelis del medio-->
</body>
</html>